# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# Streamlit secrets
.streamlit/secrets.toml

# VS Code
.vscode/

# Mac
.DS_Store

# Logs
*.log

# Jupyter
.ipynb_checkpoints/
